 /* index.css */

 /*----------- CLASES VARIADAS -------------*/

.pointer{
	cursor: pointer;
}

/*.topMargin{
	margin-top: 30px;
}*/

.margin-top{
	margin-top: 15px;
}

/*.form-info{
	color: blue;
}*/

.margin-left{
	margin-left: 20px
}

.container{
	width: 80%;
}

/*.card-panel{
	padding: 0;
}*/

.card .card-content{
	width: 100%;
}

.loading{
	width: 10%;
}

/*--------------- DATE PICKER -------------*/

.picker__year-display{
	background-color:#1565c0;
}

.picker__date-display{
	background-color:#1e88e5;
}

.picker__weekday-display {
	background-color:#1e88e5;
}

.picker__close, .picker__today {
	color: #1e88e5;
}

.picker__day.picker__day--today{
	color: #1e88e5;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
	background-color:#1e88e5;
}

.picker__input.picker__input--active{
	border-color: #1565c0;
}

/*--------------- TABS ---------------*/

.row .col.s12 {
    margin-top: 0.7rem;
}

.tabs .tab a{
    color: #1e88e5;
}

.tabs .tab a:hover,.tabs .tab a.active {
	background-color: transparent;
	color: #1565c0;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:grey;	
}
.tabs .indicator {
	background-color: #1565c0;
}

/*------------- SENSORES EN MAPA ------------*/

.mapContainer{
	position: relative;
}

.mapContainer img{
	width: 100%;
}

.sensorDiv{
	position: absolute;
	width: 4%;
	height: 5%;
	/*opacity: 0.4;*/
	cursor: pointer;
	border: 1px solid black;
	border-radius: 50%;
	/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

.sensorDivSelected{
	position: absolute;
	width: 4%;
	height: 5%;
	opacity: 1;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 25%;
	/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

.iconDiv{
	position: absolute;
	width: 8%;
	height: 8%;
}

/*------ Temperatura por zonas -------*/

.tempIcon{
	top: 17%;
	left: 38%;
}

.temp1{
	top: 19%;
	left: 48%;
	background-color: rgba(236, 13, 13, 0.8);
	/*border-color: red;*/
}

.temp2{
	top: 19%;
	left: 62.5%;
	background-color: rgba(236, 13, 13, 0.8);
}

.temp3{
	top: 19%;
	left: 77%;
	background-color: rgba(236, 13, 13, 0.8);
}

.temp4{
	top: 19%;
	left: 91%;
	background-color: rgba(236, 13, 13, 0.8);
}

/*------ Resistencia por zonas -------*/

.resistIcon{
	top: 29.5%;
	left: 37%;
}

.resist1{
	top: 32%;
	left: 48%;
	background-color: rgba(236, 99, 13, 0.8);
}

.resist2{
	top: 32%;
	left: 62.5%;
	background-color: rgba(236, 99, 13, 0.8);
}

.resist3{
	top: 32%;
	left: 77%;
	background-color: rgba(236, 99, 13, 0.8);
}

.resist4{
	top: 32%;
	left: 91%;
	background-color: rgba(236, 99, 13, 0.8);
}

/*------ Ventilación por zonas -------*/

.ventIcon{
	top: 41.5%;
	left: 37%;
}

.vent1{
	top: 44%;
	left: 48%;
	background-color: rgba(225, 236, 13, 0.8);
}

.vent2{
	top: 44%;
	left: 62.5%;
	background-color: rgba(225, 236, 13, 0.8);
}

.vent3{
	top: 44%;
	left: 77%;
	background-color: rgba(225, 236, 13, 0.8);
}

.vent4{
	top: 44%;
	left: 91%;
	background-color: rgba(225, 236, 13, 0.8);
}

/*------ RPM del motor -------*/

.rpmIcon{
	top: 82%;
	left: 7%;
}

.rpm{
	top: 85%;
	left: 17%;
	background-color: rgba(28, 180, 35, 0.8);
}

/*------ Consumo del motor -------*/

.consumoIcon{
	top: 82%;
	left: 25%;
}

.consumo{
	top: 85%;
	left: 35%;
	background-color: rgba(70, 135, 199, 0.8);
}

/*------ Presión -------*/

.presionIcon{
	top: 82%;
	left: 42%;
}

.presion{
	top: 85%;
	left: 51%;
	background-color: rgba(181, 27, 201, 0.8);
}

/*------ Temperatura de fundido -------*/

.tempFundidoIcon{
	top: 82%;
	left: 59%;
}

.tempFundido{
	top: 85%;
	left: 68%;
	background-color: rgba(246, 105, 215, 0.8);
}

/*-------------- FORMS CUSTOM COLORS --------------*/

.form{
	margin-left: 5%;
}

.label{
	font-size: 16px;
	color: #bdbdbd;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=tel]:focus + label {
   color: #1565c0;
}

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=tel]:focus{
    border-bottom: 1px solid #1976d2;
    box-shadow: 0 1px 0 0 #1976d2;
}

[type="checkbox"]+label{
	color: grey;
}

input[type="checkbox"].filled-in:checked + label{
    color: #424242;
}

input[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #424242;
     background-color: #424242;
}

input[type="checkbox"].filled-in {
     border: 2px solid grey;
}

.dropdown-content li>a, .dropdown-content li>span{
	color: grey;
}

.dropdown-content li>a, .dropdown-content li>span{
	font-size: 14px;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #1565c0;
}

/*
// label color 
.input-field label {
    color: #000;
}

// valid color 
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

// invalid color
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
*/



-------------------------- Icon in the middle -------------

.middle {
    display: inline-flex;
    vertical-align: middle;
}